h1 Welcome to the House of Cinema!
h4 Current movies:
-for movie in @movies
  a href="/movie/#{movie.name}/" class="btn btn-default" = movie.name


h4 Cinemas:
-for cinema in @cinemas
  a href="/cinema/#{cinema.name}/" class="btn btn-default" = cinema.name
